In [1]:
import pandas as pd
import numpy as np
import boto3

In [2]:
pwd

'/Users/sanju/Documents/DS/MLOps/aws_sagemaker_project/research'

In [3]:
import os
os.chdir("..")

In [4]:
import boto3
from botocore.exceptions import NoCredentialsError, PartialCredentialsError

In [5]:
s3_client=boto3.client("s3")
s3_client

In [6]:
pwd

'/Users/sanju/Documents/DS/MLOps/aws_sagemaker_project'

In [7]:
def upload_to_s3(filepath,bucket_name,object_name):
    #setting up the s3 client
    s3_client=boto3.client("s3")


    s3_uri=s3_client.upload_file(filepath,bucket_name,object_name)
    return s3_uri

In [8]:
data=pd.read_csv("data/raw/mob_price_classification_train.csv")

In [9]:
data.head()

,battery_power,blue,clock_speed,dual_sim,fc,four_g,int_memory,m_dep,mobile_wt,n_cores,...,px_height,px_width,ram,sc_h,sc_w,talk_time,three_g,touch_screen,wifi,price_range
0,842,0,2.2,0,1,0,7,0.6,188,2,...,20,756,2549,9,7,19,0,0,1,1
1,1021,1,0.5,1,0,1,53,0.7,136,3,...,905,1988,2631,17,3,7,1,1,0,2
2,563,1,0.5,1,2,1,41,0.9,145,5,...,1263,1716,2603,11,2,9,1,1,0,2
3,615,1,2.5,0,0,0,10,0.8,131,6,...,1216,1786,2769,16,8,11,1,0,0,2
4,1821,1,1.2,0,13,1,44,0.6,141,2,...,1208,1212,1411,8,2,15,1,1,0,1

In [10]:
from sklearn.model_selection import train_test_split

In [11]:
X=data.drop("price_range",axis=1)
y=data["price_range"]

In [12]:
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.2,random_state=42)

In [13]:
print(X_train.shape)
print(X_test.shape)
print(y_train.shape)
print(y_test.shape)

(1600, 20)
(400, 20)
(1600,)
(400,)

In [14]:
X_train.head()

,battery_power,blue,clock_speed,dual_sim,fc,four_g,int_memory,m_dep,mobile_wt,n_cores,pc,px_height,px_width,ram,sc_h,sc_w,talk_time,three_g,touch_screen,wifi
968,1923,0,0.5,1,7,0,46,0.5,191,1,10,767,1759,1489,10,9,3,1,1,1
240,633,1,2.2,0,0,1,49,0.1,139,8,1,529,1009,3560,11,1,16,1,1,1
819,1236,0,0.9,1,2,1,57,0.1,188,1,14,517,809,1406,14,12,20,1,0,1
692,781,0,1.1,0,2,0,38,0.4,198,5,7,304,1674,3508,13,8,5,0,0,1
420,1456,1,0.5,1,7,0,7,0.4,105,5,12,823,1104,1587,6,5,20,1,0,1

In [15]:
train_data,test_data=train_test_split(data,test_size=0.2,random_state=42)

In [16]:
print(train_data.shape)
print(test_data.shape)

(1600, 21)
(400, 21)

In [17]:
import os
raw_dir_path=os.makedirs("data/raw",exist_ok=True)
train_dir_path=os.makedirs("data/train/",exist_ok=True)
test_dir_path=os.makedirs("data/test/",exist_ok=True)

In [18]:
train_data.to_csv("data/train/train_data.csv")
test_data.to_csv("data/test/test_data.csv")

In [20]:
## Upload to s3 bucket

#files path
train_filepath="data/train/train_data.csv"
test_filepath="data/test/test_data.csv"

#bucket name
bucket="mobiledatasagemakerbucket"

#object name (this will be the filename in the bucket)
train_object_name=f"{train_filepath}"
test_object_name=f"{test_filepath}"


#call the function for the uploading the data
train_s3_uri=upload_to_s3(train_filepath,bucket,train_object_name)
test_s3_uri=upload_to_s3(test_filepath,bucket,test_object_name)

print(train_s3_uri)
print(test_s3_uri)

None
None